.body{
   display: flex;
   justify-content: center;
   align-items: center;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90%;
}

.mando-izq{
    width: 16vh;
    height: 40vh;
    background-color:#ff926a;
    border-radius: 75px 0 0 75px;

}

.cuerpo{
    width: 60vh;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mando-der{
    width: 16vh;
    height: 40vh;
    background-color:#ff926a;
    /* margin: 2px; */
    border-radius: 0 75px 75px 0;
}

.mando-entero{
    height: 40vh;
    width: 92vh;
    /* background-color: #ff926a; */
    background-image: radial-gradient(#ff926a,#ff926a,#ff926a,#bd9482);
    display: flex;
    justify-content: center;
    border-radius: 75px;
}

.rect-fuera{
    width: 57vh;
    height: 37vh;
    background-color:#ff926a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(76, 76, 76);
    border-width: 2px;
}

.imagen-fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31vh;
    width: 51vh;
    border-radius: 1.5px;
    border-style: solid;
    border-color: rgb(62, 62, 62);
    border-width: 4px;
}

.cruz-izq{
    
    width: 56px;
    height: 56px;
    position: relative ; top: 9vh; left: 14vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
}

.r1{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-color: whitesmoke;
    border: groove;
}

.r2{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: whitesmoke;
}


.circ-izq{
    width: 7vh;
    height: 7vh;
    background-image: radial-gradient(rgb(255, 255, 255),rgb(193, 193, 193));
    border-radius: 100%;
    position: relative; top: -7vh; left: 35vh;
    border: groove;
}

.circ-der{
    width: 7vh;
    height: 7vh;
    background-image: radial-gradient(rgb(255, 255, 255),rgb(193, 193, 193));
    border-radius: 100%;
    position: relative; top: 7vh; left: 100vh;
    border: groove;
}

.cir-der:active{
    box-shadow: none;
}



.bot-peq-izq{
    width: 3vh;
    height: 1vh;
    background-image: linear-gradient(whitesmoke,rgb(199, 198, 198));    position: relative; bottom: 14vh; left: 28vh;
}


.XABY{
    display: inline-block;
    position: relative; left: 94vh; bottom: 5vh;

}

#X{
    width: 4vh;
    height: 4vh;
    background-image: linear-gradient(whitesmoke,rgb(199, 198, 198));
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 12px;
    color: rgb(157, 152, 152);
    position: relative;
    
}

#A{
    width: 4vh;
    height: 4vh;
    background-image: linear-gradient(whitesmoke,rgb(199, 198, 198));    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 12px;
    color: rgb(157, 152, 152);
    position: relative; right: -5vh;

}

#B{
    width: 4vh;
    height: 4vh;
    background-image: linear-gradient(whitesmoke,rgb(199, 198, 198));    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 12px;
    color: rgb(157, 152, 152);

}

#Y{
    width: 4vh;
    height: 4vh;
    background-image: linear-gradient(whitesmoke,rgb(199, 198, 198));   
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 12px;
    color: rgb(157, 152, 152);
    position: relative; left: -5vh; top: -7.5vh;

}

.box-shadow-2{box-shadow: rgb(65, 65, 65) 2px 2px 2px;}

.box-shadow{box-shadow: rgb(65, 65, 65) 5px 5px 10px;}

.som-rect-fuera{box-shadow: inset 5px 15px 20px 0   #cd8f81;}

.circ-der:active{
    box-shadow: none
}

.circ-izq:active{
    box-shadow: none
}



#X:active{box-shadow: none}
#B:active{box-shadow: none}
#A:active{box-shadow: none}
#Y:active{box-shadow: none}
.bot-peq-izq:active{box-shadow: none}
.r1:active{box-shadow: none}





   





