.body{
   display: flex;
   justify-content: center;
   align-items: center;

}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;


}

.mando-izq{
    width: 16vh;
    height: 40vh;
    background-color:#ff926a;
    border-radius: 75px 0 0 75px;

}

.cuerpo{
    width: 60vh;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mando-der{
    width: 16vh;
    height: 40vh;
    background-color:#ff926a;
    /* margin: 2px; */
    border-radius: 0 75px 75px 0;
}

.mando-entero{
    height: 40vh;
    width: 92vh;
    background-color: #ff926a;
    display: flex;
    justify-content: center;
    border-radius: 75px;



}

.rect-fuera{
    width: 57vh;
    height: 37vh;
    background-color:#ff926a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(76, 76, 76);
    border-width: 2px;

}

.imagen-fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31vh;
    width: 51vh;
    border-radius: 1.5px;
    border-style: solid;
    border-color: rgb(62, 62, 62);
    border-width: 4px;

}

.cruz-izq{
    /* background-color: tomato; */
    width: 56px;
    height: 56px;
    position: relative ; top: 9vh; left: 14vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;

}

.circ-izq{
    width: 7vh;
    height: 7vh;
    background-color:whitesmoke;
    border-radius: 100%;
    position: relative; top: -7vh; left: 25vh;
    margin: 0;

}

.bot-peq-izq{
    width: 3vh;
    height: 1vh;
    background-color:whitesmoke;
    position: relative; bottom: 14vh; left: 25vh;

}



.r1{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-color: whitesmoke

}

.r2{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: whitesmoke
}











.som-rect-fuera{box-shadow: inset 5px 15px 20px 0   #cd8f81;}


#sobra-general {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.somb-int{box-shadow: inset #fdeee8 15px 15px 20px;}





